<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Teams</title>
</head>
<body>
    

{%block body%}
<table class="table table-secondary table-striped mt-3">
    <thead>
        <tr>
            <th class="text-dark">ID</th>
            <th class="text-dark">Team Name</th>
            <th class="text-dark">User ID</th>
        </tr>
    </thead>
    <tbody>
        {% for team in team_list%}
        <tr>
            <th>{{ team.id}}</th>
            <th>{{ team.team_name}}</th>
            <th>{{ team.user_id}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}

</body>
</html>
