<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
</head>
<body>
    {%block body%}
<table class="table table-secondary table-striped mt-3">
    <thead>
        <tr>
            <th class="text-dark">ID</th>
            <th class="text-dark">Project Name</th>
            <th class="text-dark">Description</th>
            <th class=""text-dark">Completed</th>
            <th class="text-dark">Team ID</th>
        </tr>
    </thead>
    <tbody>
        {% for project in project_list%}
        <tr>
            <th>{{ project.id}}</th>
            <th>{{ project.project_name}}</th>
            <th>{{ project.description }}</th>
            <th>{{ project.completed }}</th>
            <th>{{ project.team_id}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}
</body>
</html>