<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracking App</title>
</head>
<body>
    <div class="form-container"> <!--creates the container to lead the form in.-->
        <h3>Add Team</h3>
        <form action="{{ url_for('add_team') }}" method="POST">
            {{ team_form.csrf_token() }} <!--creates a csrf token-->
            {{ team_form.team_name.label }} <!--labels the team name input-->
            {{ team_form.team_name }} <!--creates the team name input-->
            {{ team_form.submit.label }} <!--labels the submit button-->
            {{team_form.submit }} <!--creates the submit button-->
        </form>
    </div>

    <div class="form-container">
        <form action="{{ url_for('add_project') }}" method="POST">
            {{ project_form.csrf_token() }}
            {{ project_form.project_name.label }}
            {{ project_form.project_name }}
            {{ project_form.description.label }}
            {{ project_form.description }}
            {{ project_form.completed.label }}
            {{ project_form.completed }}
            {{ project_form.team_selection.label }}
            {{ project_form.team_selection }}
            {{ project_form.submit.label }}
            {{ project_form.submit }}
        </form>
    </div>
</body>
</html>