<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Dinosaur</title>
</head>
<body>
    <h1>Update Dinosaur</h1>
    <form action="/update-dino/{{ dino.id }}" method="POST">
        {{ form.csrf_token() }}
        {{ form.name.label }}
        {{ form.name }}
        {{ form.herbivore.label }}
        {{ form.herbivore }}
        {{ form.submit }}
    </form>
</body>
</html>